# MySQL with Python 

## Making the connection to the database

In [1]:
# MySql conection we import the connector first

import mysql.connector as sql

In [2]:
# Here we call the .connect() fn to give connection details of the database

connection = sql.connect(
    host='localhost',
    user='root',
    password='1234'
)

print(connection) # gives the mysql connection object created in that particular location

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F116940790>

## Creating and dropping databases

In [3]:
# We use .cursor() to point or used as a pointer 

cursor=connection.cursor()
cursor.execute("create database Loki")

DatabaseError: 1007 (HY000): Can't create database 'loki'; database exists

In [56]:
cursor.execute('show databases')
#cursor.fetchall()   # to get output without using for loop
# as we use cursor as pointer we cannot go and run the previous stmt again
# we use for loop to see the output as the output of cursor.execute('show tables') is not in form of list

In [57]:
for databases in cursor:   # we use for loop as a pointer to print the kist of database names
    print(databases)

('customer',)
('information_schema',)
('loki',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [25]:
cursor.execute('drop database loki')
cursor.execute('show databases')

for db in cursor:
    print(db)

('customer',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

## Creating the table and inserting the values

In [83]:
# creating connection to 'loki database' and performing operations
connection = sql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='customer'
)

In [84]:
cursor= connection.cursor()
cursor.execute("SHOW TABLES")
cursor.fetchall()

[('bonus_table',),
 ('clone_employee',),
 ('employee',),
 ('employee_designation',)]

In [67]:
cursor.execute("CREATE TABLE STUDENT(std_id INT AUTO_INCREMENT NOT NULL PRIMARY KEY,firstname VARCHAR(25),subjects VARCHAR(20),marks INT)")
#cursor.execute('show tables')
#cursor.fetchall()

ProgrammingError: 1050 (42S01): Table 'student' already exists

In [68]:
query='INSERT INTO STUDENT (firstname,subjects,marks) VALUES(%s,%s,%s)'
value=('akash','biology',90)
cursor.execute(query,value)            # insertinng single value of tuple we use .execute() it executes only once
print('rowprocessed',cursor.lastrowid)

rowprocessed 1

In [71]:
query='INSERT INTO STUDENT (firstname,subjects,marks) VALUES(%s,%s,%s)'
values=[('akash','biology',90),
        ('gowda','physics',60),
        ('shruthi','zooolo',85),
        ('krish','maths',50),
        ('raghu','kannada',70)]
cursor.executemany(query,values)  #inserting multiple values in form of tuples we ise .executemany() it executes untill condn is satisfied
print('rowsprocessed',cursor.lastrowid)

rowsprocessed 2

## Select statement / to get output we use fetch() or for loop

In [104]:
cursor=connection.cursor()
cursor.execute("select emp from employee")

In [86]:
#to fetch all thedata
cursor.fetchall()    # we get all the values of the table

[(1,
  'akash',
  'shetty',
  50000,
  datetime.datetime(2014, 1, 12, 9, 0),
  'development'),
 (2,
  'akshay',
  'varma',
  50500,
  datetime.datetime(2014, 1, 12, 9, 0),
  'development'),
 (3, 'sharukh', 'khan', 50700, datetime.datetime(2014, 1, 13, 9, 0), 'tester'),
 (4,
  'akash',
  'shetty',
  60000,
  datetime.datetime(2015, 1, 21, 9, 0),
  'development'),
 (5, 'akshay', 'kumar', 70000, datetime.datetime(2015, 6, 15, 9, 0), 'HR')]

In [99]:
cursor.fetchone()    # fetchs only one record for which the pointer/cursor is pointing to

In [105]:
lst=cursor.fetchall()

In [106]:
for records in lst:
    print(records)

(1, 'akash', 'shetty', 50000, datetime.datetime(2014, 1, 12, 9, 0), 'development')
(2, 'akshay', 'varma', 50500, datetime.datetime(2014, 1, 12, 9, 0), 'development')
(3, 'sharukh', 'khan', 50700, datetime.datetime(2014, 1, 13, 9, 0), 'tester')
(4, 'akash', 'shetty', 60000, datetime.datetime(2015, 1, 21, 9, 0), 'development')
(5, 'akshay', 'kumar', 70000, datetime.datetime(2015, 6, 15, 9, 0), 'HR')